body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Nav Bar */
#home-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

#home-text {
  font-size: 24px;
  font-weight: 900;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 18rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}

.link {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
}

/* State */
.state-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.state-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.state-tile h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Fuel */
.fuel-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.fuel-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  height: 15rem;
  width: 15rem;
  text-align: center;
  padding: 5px;
}

.fuel-option:nth-child(1) {
  background-color: #ffffff;
}

.fuel-option:nth-child(2) {
  background-color: #007bff;
}

.fuel-option:nth-child(3) {
  background-color: #dc3545;
}

.fuel-option:nth-child(4) {
  background-color: #499e27;
}

.fuel-option h3 {
  padding: 1rem 0;
  font-size: 1.125em;
}

.price {
  font-family: 'Calculator', sans-serif;
  background-color: rgb(197, 193, 193);
  font-size: 1.5rem;
  padding: 1.5rem 2rem 1.5rem .5rem;
  width: 12.5%;
  border-radius: 0.25em;
  margin-bottom: 1rem;
}

.grade-button {
  background-color: #ffcc00;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  pointer-events: none;
}

.grade-button:active {
  background-color: #e6b800;
}